nav {
  display: flex;
  background-color: orangered;
  justify-content: space-around;
  padding: 17px 0;
  color: whitesmoke;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-between;
  font-weight: bold;
  font-size: 15px;
}

nav ul a {
  color: whitesmoke;
  text-decoration: none;
  padding: 22px 22px;
}

nav ul a:hover {
  color: white;
}

.logo {
  font-family: "Lobster";
  letter-spacing: 1px;
  font-size: 20px;
}

.hamburger {
  display: none;
  flex-direction: column;
  height: 18px;
  justify-content: space-between;
  position: relative;
}

.hamburger input {
  position: absolute;
  width: 38px;
  height: 28px;
  left: -6px;
  top: -5px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: whitesmoke;
  border-radius: 3px;
  transition: all 0.3s;
}

.hamburger span:nth-child(2) {
  transform-origin: 0 0;
}

.hamburger span:nth-child(4) {
  transform-origin: 0 100%;
}

.hamburger input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.hamburger input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(0, 0);
}

.hamburger input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

@media screen and (max-width: 768px) {
  nav ul {
    width: 40%;
  }

  .logo {
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
  .hamburger {
    display: flex;
  }
  nav ul {
    position: absolute;
    padding-top: 70px;
    top: 0;
    right: 0;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: orangered;
    transform: translateX(100%);
    transition: all 0.5s;
    opacity: 0;
    font-size: 18px;
    font-weight: bold;
  }

  nav ul li {
    padding: 28px 0;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }

  .logo {
    font-size: 15px;
  }
}
