card-list {
  display: grid;
  max-width: 1200px;
  grid-gap: 1em;
  margin: 15px auto;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
  padding: 0 20px;
}

.cards {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  margin: 10px auto;
}

.card-image > img {
  width: 100%;
  height: 250px;
  object-fit: center;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}

.card-image {
  z-index: -1;
  position: relative;
}

.badge-city {
  color: white;
  position: absolute;
  padding: 10px 20px;
  background-color: orangered;
  top: 20px;
  font-weight: bold;
  font-size: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-info {
  padding: 20px;
}

.card-info > a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 25px;
  margin-top: 5px;
}

.card-info > p {
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  font-size: 15px;
  color: gray;
}

.card-info > h3 {
  font-size: 15px;
  color: orange;
}

@media screen and (max-width: 768px) {
  card-list {
    display: grid;
    grid-gap: 1em;
    margin: 15px auto;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
  }

  .card-image > img {
    max-height: 300px;
  }

  .cards {
    max-width: 800px;
  }
}

@media screen and (max-width: 576px) {
  card-list {
    display: grid;
    grid-gap: 1em;
    margin: 15px auto;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 1px;
  }

  .card-image > img {
    max-height: 240px;
  }

  .cards {
    width: 90%;
    max-width: 800px;
  }
}
