.slider {
  position: relative;
  z-index: -1;
}

.slider figure {
  width: 500%;
  margin: 0;
  padding: 0;
  left: 0;
}

.slider figure img {
  width: 20%;
  object-fit: cover;
  height: 430px;
}

.hero-image > h1 {
  position: absolute;
  width: 100%;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  color: white;
  font-size: 20px;
}

.hero-image h2 {
  position: absolute;
  top: 130px;
  font-size: 12px;
  padding: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .slider figure img {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .slider figure img {
    height: 300px;
  }
}
