@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "./appBar.css";
@import "./heroImage.css";
@import "./card.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

#explore {
  margin-top: 0 auto;
  text-align: center;
  margin-top: 15px;
  font-size: 25px;
}

footer {
  width: 100%;
  font-weight: lighter;
  font-size: 15px;
  text-align: center;
  margin: 15px auto;
}

footer p {
  padding: 20px 0;
}

.skip-content {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
  text-decoration: none;
}

.skip-content:focus {
  top: 0;
}
