@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");
@import "./appBar.css";
@import "./slideImages.css";
@import "./card.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  overflow-x: hidden;
}
