.slider {
  overflow: hidden;
}

.slider figure {
  width: 500%;
  margin: 0;
  padding: 0;
  left: 0;
  animation: 20s slider infinite;
}

.slider figure img {
  width: 20%;
  object-fit: cover;
  height: 430px;
}

@media screen and (max-width: 576px) {
  .slider figure img {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .slider figure img {
    height: 300px;
  }
}
